/* ================================
    CSS STYLES FOR IBUYSPY PORTAL 
    v1.0, 01/2001
   ================================
*/


/* PAGE BACKGROUND */
/* background color for the header at the top of the page  */
.HeadBg
{
	background-color: darkred;
}

/* background color for the content part of the pages */
Body
{
	background-color: white;
}


/* PAGE BANNER */
/* NOTE: Site Title, Site Links and Tabs are rendered by MobilePortalBanner.ascx
/* style for the text of the site title */
.SiteTitle
{
	font-family: Verdana Bold, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #cccc99;
}

/* background/border colors for the selected tab */
.TabBg
{
	background-color: GhostWhite;
	border-color: white;
}

.SiteTitleLink
{
	font-family: Verdana Bold, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #cccc99;
}


/* background/border colors for the unselected tabs */
.OtherTabsBg
{
	border-left-color: black;
	border-bottom-color: black;
	border-top-color: black;
	background-color: #00b1d5;
	border-right-color: black;
}

/* text style for the selected tab */
.SelectedTab
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: DarkRed;
	font-weight: bold;
}

/* text style for the unselected tabs */
.OtherTabs
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 13px; /* color:gainsboro;*/
	color: SkyBlue;  
	text-decoration: none;
	font-weight: bold;
}

/* hyperlink styles of the unselected tabs */
A.OtherTabs:link
{
	text-decoration: none;
	color: #eeeeee;
}

A.OtherTabs:visited
{
	text-decoration: none;
	color: #eeeeee;
}

A.OtherTabs:active
{
	text-decoration: none;
	color: #eeeeee;
}

A.OtherTabs:hover
{
	text-decoration: underline;
	color: white;
}

/* text style for the site links (at extreme top-right of header) */
.SiteLink
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

/* hyperlink style for the site links */
A.SiteLink:link
{
	text-decoration: none;
	color: white;
}

A.SiteLink:visited
{
	text-decoration: none;
	color: #eeeeee;
}

A.SiteLink:active
{
	text-decoration: none;
	color: #eeeeee;
}

A.SiteLink:hover
{
	text-decoration: underline;
	color: white;
}

/* style for separator between site links */
.Accent
{
	color: red;
	font-weight: bold;
}



/* MODULE-SPECIFIC */
/* text style for reading messages in Discussion */
.Message
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-size: 11px;
	background-color: #eeeeee;
}

/* style of item titles by Announcements and events */
.ItemTitle
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: darkred;
}



/* GENERAL */
/* style for module titles */
.Head
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #666644;
}

/* style of item titles on edit and admin pages */
.SubHead
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: darkred;
}

/* module title style used instead of Head for compact rendering by QuickLinks and Signin modules */
.SubSubHead
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: black;
}

.NumberHeadText
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: Green;
}

.PrefaceText
{
	font-family:Verdana,Helvetica,sans-serif;
	font-size:15px;
	font-weight:lighter;
	font-style:oblique;
	color:Green;
}

/* text style used for most text rendered by modules */
.Normal
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 20px;
}

/* text style used for textboxes in the admin and edit pages, for Nav compatibility */
.NormalTextBox
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.NumberText
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	color: Green;
}

.NormalRed
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: red;
}

.NormalBold
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

/* text style for buttons and link buttons used in the portal admin pages */
.CommandButton
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

/* hyperlink style for buttons and link buttons used in the portal admin pages */
A.CommandButton:link
{
	color: darkred;
}

A.CommandButton:visited
{
	text-decoration: color: darkred;
}

A.CommandButton:active
{
	text-decoration: color: darkred;
}

A.CommandButton:hover
{
	text-decoration: color: red;
}




/* GENERIC */
H1
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #666644;
}

H2
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #666644;
}

H3
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: darkred;
}

H4
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: darkred;
}

H5, DT
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: darkred;
}

H6
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: darkred;
}

TFOOT, THEAD
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: darkred;
}

TH
{
	vertical-align: baseline;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: darkred;
}

A:link
{
	text-decoration: none;
	color: darkred;
}

A:visited
{
	text-decoration: none;
	color: darkred;
}

A:active
{
	text-decoration: none;
	color: darkred;
}

A:hover
{
	text-decoration: underline;
	color: red;
}

SMALL
{
	font-size: 8px;
}

BIG
{
	font-size: 14px;
}

BLOCKQUOTE, PRE
{
	font-family: Lucida Console, monospace;
}


UL LI
{
	list-style-type: square;
}

UL LI LI
{
	list-style-type: disc;
}

UL LI LI LI
{
	list-style-type: circle;
}

OL LI
{
	list-style-type: decimal;
}

OL OL LI
{
	list-style-type: lower-alpha;
}

OL OL OL LI
{
	list-style-type: lower-roman;
}

HR
{
	color: dimgrey;
	height: 1pt;
	text-align: left;
}

Hor
{
	color:dimgrey;
	font-weight:lighter;
}

