.C_FieldT {  font-size: 9px; color: #000000; font-family: "Times New Roman", "Times", "serif"}
.C_Date {  font-size: 9px; color: #000000; font-family: "Times New Roman", "Times", "serif"}
.C_YearT {  font-size: 12px; color: #000000}.C_Button {  font-family: "Times New Roman", "Times", "serif"; font-size: 10px}
.C_Clock {  font-size: 14px; color: #000000; font-family: "Times New Roman", "Times", "serif"}
.C_Button{
	font-family: "Tahoma", "ו";
	font-size: 12px;
	color: White;
	border: 1px solid ;

	font-style: normal ;
	width: 20px;
}