<?xml version="1.0"?>
<!--//////////////////////////////////////////////////////////////////////////////////////////////
//
//   (c) Pitney Bowes MapInfo Corporation, 2008.  All rights reserved.
//
//   This software is only provided as a demonstration by MapInfo.
//   No licence or other right is granted.
//   No use, transmission or copying is permitted.
//
//   This software is provided by MapInfo "as is" and any express or implied warranties,
//   including, but not limited to, the implied warranties of merchantability and fitness
//   for a particular purpose are disclaimed.  In no event shall MapInfo be liable for any
//   direct, indirect, incidental, special, exemplary, or consequential damages (including,
//   but not limited to, procurement of substitute goods or services; loss of use, data or
//   profits; or business interruption) however caused and whether in contract, strict
//   liability, or tort (including negligence) arising in any way out of the use of this
//   software, even if advised of the possibility of such damage.
//
//////////////////////////////////////////////////////////////////////////////////////////////-->
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!--Use this setting to turn Session pooling on/off (true/false)-->
		<add key="MapInfo.Engine.Session.Pooled" value="true"/>
		<!--Use this setting to save Session state automatically (HttpSessionState) or manually (Manual)-->
		<add key="MapInfo.Engine.Session.State" value="Manual"/>
		<!--Use this setting to preload a workspace on Session creation-->
		<add key="MapInfo.Engine.Session.Workspace" value="E:\WORK\2014\MapxtremeWeb\map\map.mws"/>
    <add key="SQLCONNECTIONSTRING" value="data source=(local);uid=sa;pwd=123456;database=DocumentDB"></add>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="MapInfo.WebControls, Version=6.8.0.536, Culture=neutral, PublicKeyToken=0A9556CC66C0AF57"/>
				<add assembly="System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="MapInfo.CoreEngine, Version=6.8.0.536, Culture=neutral, PublicKeyToken=93E298A0F6B95EB1"/>
				<add assembly="System.Drawing, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="MapInfo.CoreTypes, Version=6.8.0.536, Culture=neutral, PublicKeyToken=F548BCBA69D4B8DA"/>
				<add assembly="System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="MapInfo.CoreEngine.Wrapper, Version=6.8.0.536, Culture=neutral, PublicKeyToken=93E298A0F6B95EB1"/>
        </assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
      -->
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
      -->
		<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<httpHandlers>
			<add verb="*" path="MapController.ashx" type="MapInfo.WebControls.MapController, MapInfo.WebControls, Version=6.8.0.536, Culture=neutral, PublicKeyToken=0a9556cc66c0af57"/>
			<add verb="*" path="LayerController.ashx" type="MapInfo.WebControls.LayerController, MapInfo.WebControls, Version=6.8.0.536, Culture=neutral, PublicKeyToken=0a9556cc66c0af57"/>
		</httpHandlers>
		<httpModules>
			<add type="MapInfo.Engine.WebSessionActivator, MapInfo.CoreEngine, Version=6.8.0.536, Culture=neutral, PublicKeyToken=93e298a0f6b95eb1" name="WebSessionActivator"/>
		</httpModules>
	</system.web>
</configuration>
